@use '../base/variables/' as v;

@mixin default-font {
  font-family: v.$default-font;
}

@mixin text-weight($name, $keys: v.$text-weights) {
  font-weight: map-get($keys, $name);
}

@mixin typography($size, $line-height, $text-weight: regular) {
  @include default-font;
  @include text-weight($text-weight);
  font-size: $size;
  line-height: $line-height;
  color: v.$white;
}
