@use '../../../shared/scss/base/variables/' as v;
@use '../../../shared/scss/mixins/' as mix;
.header-config {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  column-gap: 1.5rem;
  & > label {
    @include mix.typography(13px, 16px, bold);
    color: v.$text-primary;
  }
}
