@use '../../../shared/scss/base/variables/' as v;
@use '../../../shared/scss/mixins/' as mix;

.previews-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem 3rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  cursor: pointer;
  .preview-container {
    box-shadow: 0 6px 14px 0 rgba(33, 35, 68, 0.05);
    width: 340px;
    height: auto;
    background-color: v.$white;
    border-radius: 6px;
    & > .preview {
      box-sizing: border-box;
      padding: 0 1.5rem;
      height: 190px;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: center;
    }
    & > .footer {
      height: 46px;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: center;
      background-color: rgb(249, 249, 249);
      border-radius: 6px;
      & > p {
        @include mix.typography(15px, 18px, semiBold);
        color: v.$text-primary;
        user-select: none;
      }
    }
  }
}
