.import-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  column-gap: 2rem;
  margin-top: 2rem;
  padding: 0;
  & > .mantine-Input-wrapper {
    width: 500px;
  }
}
