@use '../../shared/scss/base/variables' as v;
@use '../../shared/scss/mixins/' as mix;

#import-page {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  box-sizing: border-box;
  padding: 3rem;
  .chart-type-picker {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    column-gap: 4rem;
    p {
      @include mix.typography(13px, 16px, medium);
      color: v.$text-primary;
      & > span {
        @include mix.typography(13px, 16px, medium);
        color: v.$text-primary;
        @include mix.text-weight(semiBold);
      }
    }
  }
  & > .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2rem;
    & > .side-left {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      align-content: flex-start;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      row-gap: 3rem;
    }
    & > .side-right {
      grid-column: 2;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      align-content: flex-start;
      justify-content: flex-start;
      row-gap: 4rem;
      & > table {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        @include mix.typography(13px, 16px, medium);
        color: v.$text-primary;
        border: 1px solid v.$text-secondary;
        th {
          border: 1px solid v.$text-secondary;
          min-width: 80px;
        }
        td {
          border: 1px solid v.$text-secondary;
          text-align: center;
        }
      }
    }
  }
}
