@use '../base/variables/' as v;

@font-face {
  font-family: 'Inter';
  src: url('/src/shared/font/Inter.ttf');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  body {
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    #root {
      background-color: v.$bg-light;
      height: 100%;
      overflow: hidden;
    }
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

p,
span,
div,
section,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: v.$white;
  font-family: 'Inter', 'sans-serif';
}
